

div {
    height:30px;
}
	.d1 {
    background-color: hsl(250,100%,50%);
}
.d2 {
    background-color:#0f0;
    width: 200px;
}
.d3 {
    background-color:#00f;
}
.d4 {
    background-color:#f0f;
}



